<h1 ds-text size="5xl">Text 5XL</h1>
<h1 ds-text size="4xl">Text 4XL</h1>
<h1 ds-text size="3xl">Text 3XL</h1>
<h1 ds-text size="2xl">Text 2XL</h1>
<h1 ds-text size="l">Text L</h1>

<p ds-text size="m">Text M</p>
<p ds-text size="s">Text S</p>
<p ds-text size="xs">Text XS</p>

<!-- <ds-text size="5xl" type="heading" label="Text 5XL"></ds-text>
<ds-text size="4xl" type="heading" label="Text 4XL"></ds-text>
<ds-text size="3xl" type="heading" label="Text 3XL"></ds-text>
<ds-text size="2xl" type="heading" label="Text 2XL"></ds-text>
<ds-text size="l" type="heading" label="Text L"></ds-text>

<ds-text type="heading" label="Text Label"></ds-text>
<ds-text type="label" label="Text Label"></ds-text>
<ds-text type="hint" label="Text Label"></ds-text> -->
<!-- <button type="button" ds-button size="small">Primary Small</button>
<hr />
<button type="button" ds-button>Primary Medium</button>
<hr />
<button type="button" ds-button size="large" disabled>Primary Large
  Disabled</button>
<hr />
<button type="button" ds-button variant="secondary" size="small">Secondary
  Small</button>
<hr />
<button type="button" ds-button variant="secondary">Secondary Medium</button>
<hr />
<button type="button" ds-button variant="secondary" size="large"
  disabled>Secondary Large
  Disabled</button>
<hr />
<button type="button" ds-button variant="chevron" size="small">Chevron
  Small</button>
<hr />
<button type="button" ds-button variant="chevron">Chevron Medium</button>
<hr />
<button type="button" ds-button variant="chevron" size="large" disabled>Chevron
  Large
  Disabled</button>
<hr />
<button type="button" ds-button variant="icon" size="small">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr />
<button type="button" ds-button variant="icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr />
<button type="button" ds-button variant="icon" size="large" disabled>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr /> -->