<button type="button" ds-button="small">Primary Small</button>
<hr />
<button type="button" ds-button>Primary Medium</button>
<hr />
<button type="button" ds-button="large" disabled>Primary Large Disabled</button>
<hr />
<button type="button" ds-button="secondary small">Secondary Small</button>
<hr />
<button type="button" ds-button="secondary">Secondary Medium</button>
<hr />
<button type="button" ds-button="secondary large" disabled>Secondary Large
  Disabled</button>
<hr />
<button type="button" ds-button="chevron small">Chevron Small</button>
<hr />
<button type="button" ds-button="chevron">Chevron Medium</button>
<hr />
<button type="button" ds-button="chevron large" disabled>Chevron Large
  Disabled</button>
<hr />
<button type="button" ds-button="icon small">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr />
<button type="button" ds-button="icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr />
<button type="button" ds-button="icon large" disabled>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
    viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd"
      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
      clip-rule="evenodd" />
  </svg>
</button>
<hr />