# directories
.awcache
.git
assets
bin
build
coverage
dist
node_modules
reports
storybook-static

# file types (note: some of these could be handled with formatting updates)
*.css
*.html
*.scss
*.d.ts

# specific files
angular.json
package.json
tsconfig*.json