:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --ds-color-brand-primary-main: #D44527;
  --ds-color-brand-primary-light: #EA5435;
  --ds-color-brand-primary-dark: #B73B20;
  --ds-color-brand-primary-darker: #A3331A;

  --ds-color-brand-secondary-main: #262626;
  --ds-color-brand-secondary-light: #3E3E3E;
  --ds-color-brand-secondary-dark: #1A1919;
  --ds-color-brand-secondary-darker: #0E0E0E;

  --ds-color--ui-primary-colour: #262626;
  --ds-color--ui-secondary-colour: #828181;
  --ds-color--ui-tertiary-colour: #EDEDED;
  --ds-color--ui-quaternary-colour: #FFFFFF;
  --ds-color--ui-disabled-colour: #DEDEDE;
  
  --ds-color--ui-error-default-colour: #D60000;
  --ds-color--ui-error-light-colour: #ED1A1A;
  --ds-color--ui-error-dark-colour: #AB1010;
  --ds-color--ui-success-default-colour: #138000;
  --ds-color--ui-success-light-colour: #34AF1F;
  --ds-color--ui-success-dark-colour: #105E03;

  --ds-color--ui-background-1-colour: #FFFFFF;
  --ds-color--ui-background-2-colour: #F1F1F1;

  --ds-color--text-primary-colour: #262626;
  --ds-color--text-secondary-colour: #757575;
  --ds-color--text-disabled-colour: #9C9C9C;
  --ds-color--text-inverse-colour: #FFFFFF;
  --ds-color--text-error-colour: #D0421B;
  --ds-color--text-success-colour: #138000;
  --ds-color--text-link-colour: #0366D6;
}