/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --ds-color-brand-primary-main: #D44527;
  --ds-color-brand-primary-light: #EA5435;
  --ds-color-brand-primary-dark: #B73B20;
  --ds-color-brand-primary-darker: #A3331A;

  --ds-color-brand-secondary-main: #262626;
  --ds-color-brand-secondary-light: #3E3E3E;
  --ds-color-brand-secondary-dark: #1A1919;
  --ds-color-brand-secondary-darker: #0E0E0E;

  --ds-color--ui-primary-colour: #262626;
  --ds-color--ui-secondary-colour: #828181;
  --ds-color--ui-tertiary-colour: #EDEDED;
  --ds-color--ui-quaternary-colour: #FFFFFF;
  --ds-color--ui-disabled-colour: #DEDEDE;  

  --ds-color--text-primary-colour: #262626;
  --ds-color--text-secondary-colour: #757575;
  --ds-color--text-disabled-colour: #9C9C9C;
  --ds-color--text-inverse-colour: #FFFFFF;
  --ds-color--text-error-colour: #D0421B;
  --ds-color--text-success-colour: #138000;

  --ds--label-m-font-size: 1rem;
  --ds--label-m-font-weight: medium;
  --ds--label-m-line-height: 150%;

  --ds--label-s-font-size: 0.75rem;
  --ds--label-s-font-weight: medium;
  --ds--label-s-line-height: 150%;

--ds-space-1: 0.25rem;
--ds-space-2: 0.5rem;
--ds-space-3: 0.75rem;
--ds-space-4: 1rem;
--ds-space-5: 1.25rem;
--ds-space-6: 1.5rem;
--ds-space-7: 2rem;
--ds-space-8: 2.5rem;
--ds-space-9: 3rem;
--ds-space-10: 4rem;
}