<!-- <button dsButton>
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  sdfsd
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</button>

<ds-button variant="primary" title="Primary" (click)="onClick()" (focus)="onClick()">
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</ds-button>
<br />
<br />
<ds-button variant="primary" isLoading="true">
</ds-button> -->
<!--
<button m="10" bg="red">Button</button>
<hr>
<button #button1="dsButton" dsButton variant="transparent" (click)="button1.variant = 'primary'">primary me!</button>
<hr>
<button #button2="dsButton" dsButton variant="transparent" (click)="button2.variant = 'secondary'">secondary me!</button> -->
<!-- <button m="10" bg="red">Button</button> -->
<hr>
<button ds-button (click)="onClick()">Primary Medium</button>
<hr>
<button ds-button isLoading>Primary Medium</button>
<hr>
<button ds-button width="200px">Fixed Width</button>
<hr>
<button ds-button="small">Primary Small</button>
<hr>
<button ds-button="large" disabled>Primary Large Disabled</button>
<hr>
<button ds-button="secondary">Secondary Medium<ds-icon type="place"></ds-icon></button>
<hr>
<button ds-button="secondary small"><ds-icon type="info"></ds-icon>Secondary Small</button>
<hr>
<button ds-button="secondary large" disabled>Secondary Large Disabled</button>
<hr>
<a ds-button="secondary large" href="https://www.google.com" target="_blank" width="200px"><ds-icon type="error"></ds-icon>Secondary Large Link - Fixed Width<ds-icon type="visibility"></ds-icon></a>
<hr>
<a ds-button="primary medium" disabled href="https://www.google.com" target="_blank">Primary Medium Disabled Link<div class="ds-icon" style="height: 20px;">:)</div></a>
<!-- <hr>
<p dsButton buttonType="secondary">secondary me!</p> -->
<hr>
<ds-checkbox name="options" value="option1" checked required disabled>Option 1</ds-checkbox>
<hr>
<ds-checkbox [(ngModel)]="isCompleted" (ngModelChange)="onModelChange($event)" required>With ngModel</ds-checkbox>
