<!-- <button dsButton>
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  sdfsd
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</button>

<ds-button variant="primary" title="Primary" (click)="onClick()" (focus)="onClick()">
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</ds-button>
<br />
<br />
<ds-button variant="primary" isLoading="true">
</ds-button> -->

<button m="10" bg="red">Button</button>
<hr>
<button #button1="dsButton" dsButton variant="transparent" (click)="button1.variant = 'primary'">primary me!</button>
<hr>
<button #button2="dsButton" dsButton variant="transparent" (click)="button2.variant = 'secondary'">secondary me!</button>
<!-- <button m="10" bg="red">Button</button> -->
<hr>
<button ds-button>Primary Medium</button>
<hr>
<button ds-button="small">Primary Small</button>
<hr>
<button ds-button="large">Primary Large</button>
<hr>
<button ds-button="secondary">Secondary Medium</button>
<hr>
<button ds-button="secondary small">Secondary Small</button>
<hr>
<button ds-button="secondary large">Secondary Large</button>
<hr>
<!-- <hr>
<p dsButton buttonType="secondary">secondary me!</p> -->
