<!-- <button dsButton>
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  sdfsd
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</button>

<ds-button variant="primary" title="Primary" (click)="onClick()" (focus)="onClick()">
  <img class="left" pr="5px" src="../assets/images/info.svg" />
  <img class="right" pl="5px" src="../assets/images/info.svg" />
</ds-button>
<br />
<br />
<ds-button variant="primary" isLoading="true">
</ds-button> -->

<p dsButton buttonType="primary">primary me!</p>
<hr />
<p dsButton buttonType="secondary">secondary me!</p>
