/* You can add global styles to this file, and also import other style files */

:root {
  /* Colors */
  --primary-text: #FFFF00;
  --secondary-text: #FFFFFF;
  --primary-default: #6200ee;
  --secondary-default: #0f3311;

  --scale-0: 1rem;
  --scale-1: 1.5rem;
  --scale-2: 2rem;
}

